In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

import geocoder
import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [2]:
url = 'https://simple.wikipedia.org/wiki/Category:Suburbs_of_Chicago,_Illinois'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
suburbs = []
for tag in soup.find_all("li"):
    if(', Illinois' in tag.text):
        text = tag.text
        #print(text)
        i = 0
        while(not text[i].isalpha()):
            i = i + 1        
        suburbs.append(tag.text[i:tag.text.index(", Illinois")])
len(suburbs)

193

In [4]:
# create a new DataFrame from the list
il_sub = pd.DataFrame({"Suburbs": suburbs})
il_sub.head()

             Suburbs
0            Addison
1          Algonquin
2            Antioch
3  Arlington Heights
4             Aurora

### Retrieving Geographical Coordinates
Geocoding, also known as address search, is the process of converting text for an address or place to a complete address with a location. For example, you can convert "Addison Illinois" to -87.660759 longitude and 41.947116 latitude.

In [17]:
# code for getting the latitude and longitude
def get_lati_long(suburb):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Illinois'.format(suburb))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [23]:
suburb_names = il_sub['Suburbs'].tolist() #changes all columns in list
print(suburb_names)

['Addison', 'Algonquin', 'Antioch', 'Arlington Heights', 'Aurora', 'Bannockburn', 'Barrington Hills', 'Barrington', 'Bartlett', 'Batavia', 'Beach Park', 'Bedford Park', 'Bellwood', 'Bensenville', 'Berkeley', 'Berwyn', 'Bloomingdale', 'Blue Island', 'Bolingbrook', 'Bridgeview', 'Broadview', 'Brookfield', 'Buffalo Grove', 'Bull Valley', 'Burbank', 'Burnham', 'Burr Ridge', 'Calumet City', 'Calumet Park', 'Campton Hills', 'Carol Stream', 'Carpentersville', 'Cary', 'Channahon', 'Chicago Heights', 'Chicago Ridge', 'Cicero', 'Clarendon Hills', 'Country Club Hills', 'Countryside', 'Crest Hill', 'Crestwood', 'Crete', 'Crystal Lake', 'Darien', 'Deer Park', 'Deerfield', 'Des Plaines', 'Dixmoor', 'Dolton', 'Downers Grove', 'East Dundee', 'East Hazel Crest', 'Elk Grove Village', 'Elmhurst', 'Elmwood Park', 'Evanston', 'Evergreen Park', 'Flossmoor', 'Ford Heights', 'Forest Park', 'Forest View', 'Fort Sheridan', 'Fox Lake', 'Frankfort', 'Franklin Park', 'Geneva', 'Glen Ellyn', 'Glencoe', 'Glendale Heights', 'Glenview', 'Glenwood', 'Golf', 'Gurnee', 'Hanover Park', 'Harvey', 'Harwood Heights', 'Hazel Crest', 'Hickory Hills', 'Highland Park', 'Highwood', 'Hillside', 'Hinsdale', 'Hodgkins', 'Hoffman Estates', 'Hometown', 'Homewood', 'Indian Head Park', 'Inverness', 'Itasca', 'Joliet', 'Justice', 'Kenilworth', 'La Grange Park', 'La Grange', 'Lake Bluff', 'Lake Forest', 'Lake Zurich', 'Lansing', 'Lemont', 'Libertyville', 'Lily Lake', 'Lincolnwood', 'Lisle', 'Lockport', 'Lombard', 'Lynwood', 'Lyons', 'Markham', 'Matteson', 'Maywood', 'McCook', 'McHenry', 'Medinah', 'Melrose Park', 'Merrionette Park', 'Midlothian', 'Minooka', 'Mokena', 'Morton Grove', 'Mount Prospect', 'Mundelein', 'Naperville', 'New Lenox', 'Niles', 'Norridge', 'North Chicago', 'North Riverside', 'Northbrook', 'Northfield', 'Northlake', 'Oak Brook', 'Oak Forest', 'Oak Lawn', 'Oak Park', 'Oakbrook Terrace', 'Olympia Fields', 'Orland Hills', 'Orland Park', 'Oswego', 'Palatine', 'Palos Heights', 'Palos Hills', 'Palos Park', 'Park Forest', 'Park Ridge', 'Phoenix', 'Plainfield', 'Posen', 'Prospect Heights', 'Richton Park', 'River Forest', 'River Grove', 'Riverdale', 'Riverside', 'Riverwoods', 'Robbins', 'Rolling Meadows', 'Romeoville', 'Roselle', 'Rosemont', 'Round Lake Beach', 'Sauk Village', 'Schaumburg', 'Schiller Park', 'Skokie', 'South Barrington', 'South Chicago Heights', 'South Holland', 'St. Charles', 'Steger', 'Stickney', 'Stone Park', 'Streamwood', 'Summit', 'Thornton', 'Tinley Park', 'University Park', 'Villa Park', 'Warrenville', 'Waukegan', 'Wayne', 'West Chicago', 'Westchester', 'Western Springs', 'Westmont', 'Wheaton', 'Wheeling', 'Willow Springs', 'Willowbrook, DuPage County', 'Wilmette', 'Winfield', 'Winnetka']

In [19]:
lat_lang = [get_lati_long(suburb) for suburb in suburb_names]  #select each address and get latitute and longitude

Status code Unknown from https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/find: ERROR - HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=5.0)
Status code Unknown from https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/find: ERROR - HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=5.0)

In [20]:
df_coords = pd.DataFrame(lat_lang, columns=['Latitude', 'Longitude']) #create new_columns
il_sub['Latitude'] = df_coords['Latitude']
il_sub['Longitude'] = df_coords['Longitude']

In [21]:
il_sub.head()

             Suburbs  Latitude  Longitude
0            Addison  41.93407  -87.99350
1          Algonquin  42.16439  -88.32686
2            Antioch  42.47898  -88.09638
3  Arlington Heights  42.08729  -87.98044
4             Aurora  41.75710  -88.31613

In [24]:
il_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Suburbs    193 non-null    object
 1   Latitude   193 non-null    float64
 2   Longitude  193 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.6+ KB

In [22]:
il_sub.to_csv('dataset/illinois.csv',index=False)